/* vietnamese */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLviuEViw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEViw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLviuEViw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEViw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dancingscript/v24/If2RXTr6YS-zF4S-kcSWSVi_szLgiuE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background: linear-gradient(to bottom, #DBA39A 0%, #F5EBE0 100%);
    
}

.section1{
    width: 25%;
    margin: 5% 5%;
}

.section2{
    width: 75%;
    margin: 5% 0px ;
}

h1{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin: 20px 0px;
    text-align: center;

}

h2{
    font-family: 'Dancing Script', cursive;
    margin: 0 0 5% 15%;
}

.infos{
    width: 80%;
    height: 40px;
    padding-left: 5px;
    border: 1px black solid;
    border-radius: 5px;
}
input{
    margin-bottom: 7px;
}

select {
    width: 80%;
    height: 40px;
    margin: 7px 0px;
    border: 1px black solid;
    border-radius: 5px;

}


/* .ysno{
    margin-left: 10px;
    
} */

#btnsave{
    font-size: 100%;
    width: 30%;
    height: 40px;
    border: 1px black solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, #F5EBE0 0%, #FEFCF3 100%);
    color: black;
    cursor: pointer;
    margin-top: 5px;
}


.all{
    display: flex;
    justify-content: space-around;

}

table{
    width:99%;
    margin: 0px 0.5%;
    border-radius: 5px;
    background: linear-gradient(to bottom, #f2dfcc 0%, #FEFCF3 100%);
    color: black;
}

th{

    padding: 20px 0px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}


td{
    font-size: 15px;
    padding: 0px 0px;
    text-align: center;
}

.delBtn , .editBtn {
    width: 40%;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    background: linear-gradient(to bottom, #087092 0%, rgb(15, 15, 82) 100%);
    color: aliceblue;
    cursor: pointer;
}

#msg1 , #msg2 , #msg3 , #msg4 , #msg5 , #msg6 , #msg7{
    color: red;
    font-size: 12px;
    font-weight: bold;
}



@media screen and ( max-width: 1045px ){

    .all{
        display: block;
    }

    .section1{
        width: 98%;
        margin: 5% 1%;
    }
    
    .section2{
        width: 98%;
        margin: 5% 1% ;
    }

    h2{
            text-align: center;
            margin: 20px 0px;
    }

    .infos{
        width: 80%;
        margin: 7px 10%;
    }
    input{
        margin-bottom: 7px;
    }

    select {
        width: 80%;
        margin: 7px 10%;

    
    }

    .lbl{
        margin: 7px 10%;
    }

    #btnsave{
        width: 20%;
        margin: 0px 10%;
    }

    #msg1 , #msg2 , #msg3 , #msg4 , #msg5 , #msg6 , #msg7{
        margin: 0px 0px 4px 10%;
    }

    table{
        width:95%;
        margin: 30px 2.5%;
    }
    
    th{
    
        padding: 5% 0px;
        font-size: 80%;
    }
    
    
    td{
        font-size: 80%;
    }
    
    .delBtn , .editBtn {
        width: 40%;
        height: 30px;
        font-size: smaller;

    }

    
}

@media screen and ( max-width: 428px ){

    table{
        width:99%;
        margin: 30px 0.5%;
    }

    th{
    
        padding: 5% 0px;
        font-size: 65%;
    }
    
    
    td{
        font-size: 65%;
    }
}